In [ ]:
a = 0o177 #8진수 0o
print(a)
b = 0xABC # 16진수 0x
print(b)

127
2748

In [ ]:
a = 3
b = 4
print(a + b)
print(a - b)
print( a * b)
print(a / b)
print(a**b) # 제곱
print(b%a) # 나머지
print(b//a) # 몫

7
-1
12
0.75
81
1
1

In [ ]:
a +=1 # a = a + 1
a -=1 # a = a - 1
print(a)

1

In [ ]:
food = "Python's favorite food is perl" # " > '
print(food)

Python's favorite food is perl

In [ ]:
multiline=''' # 문장 간결 + 문장나눌때 -> """ 도 상관없음
life is too short
you need python
'''
print(multiline)

life is too short
you need python

In [ ]:
head = "Python"
tail = " is fun!"
print(head + tail) #문자열 합치기
print(head * 2) # 문자열 연산
len(head + tail) # 길이
head[3] # head 의 3위치에 있는 문자  (파이썬은 0부터 센다)
head[-2] # 0은 똑같고 그 뒤부터 셈

Python is fun!
PythonPython

'o'

In [ ]:
a = "Life is too short, You need Python"
a[0:4] #슬라이싱, 이때 끝번호는 포함 안함
a[:4] # 생략시 0부터 혹은 끝까지

'Life'

In [ ]:
A = "20230331Rainy" #슬라이싱 응용
year = A[:4]
day = A[4:8]
weather = A[8:]
print(year)
print(day)
print(weather)

2023
0331
Rainy

In [ ]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days" % (number, day) # 숫자 %d, 문자 %s
"%10s" % "hi" # 10개 공간 중 오른쪽 정렬 후 공백 남김 반대는 %-10s
"%0.4f" % 3.41234234 # 소수점 넷째까지 '.4f' 소수점공식
"%10.4f" % 3.41234  # 10개 공간, 소숫점 넷째까지

'3.4123'

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3) #format 사용 - {}

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
"{0:<10}".format("hi") #왼쪽 정렬
"{0:>10}".format("hi") #오른쪽 정렬
"{0:^10}".format("hi") # 가운데 정렬
"{0:=^10}".format("hi") # 공백 채우기
# format 대신 f 사용가능

'====hi===='

In [ ]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.' #f 포메팅

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
a = "Python is the best choice"
a.find('b')
a.find('k')
a.count('b')
a.index('t')

2

In [ ]:
a = " hi "
a.lstrip() # 왼쪽 공백 지우기
a.rstrip() # 오른쪽 공백 지우기
a.strip() # 공백 지우기

'hi'

In [ ]:
a = "Life is too short"
a.replace("Life", "Your leg") #문자열 바꾸기 (바꿀대상, 바꿀내용)
a.split() # 문자열 나누

['Life', 'is', 'too', 'short']

In [ ]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
b[0] + b [2] #0번째 요솟값+ 2번째 요솟값
e[-1] # [] 안에 있는건 하나로 침
e[-1][0] # [] 안에 걸 끄집어 내려면 2개쓰
b[0:2] # 슬라이싱

[1, 2]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b
len(a)
str(a[2]) + "hi" #str은 정수나 실수를 문자열로 바꿔줌
del a [1] # 삭제
a.append(4) # 리스트 맨뒤에 추가하는 함수
a.sort() # 순서대로 리스트 정리
a.reverse () # 리스트 역순으로 뒤집
a.index(4) # () 이 수의 위칫값 나타냄
a.insert(0, 4) # 0번쨰 위치에 4 삽입
a.remove(3) # 첫번째로 나오는 3 삭제
a.pop() # 마지막 요소 리턴후 삭제, ()에 위칫값 넣으면 그 위치에 요소 리턴하고 삭제
a.count() # () 안에 요소 개수
a.extend([5, 6]) # 리스트 5, 6 추가해서 확장

0

### 1주차 정리
슬라이싱 [:10]

'.4f' 소수점공식

f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.' #f 포메팅

a.strip() # 공백 지우기

a.split() # 문자열 나누

a.replace("Life", "Your leg") #문자열 바꾸기 (바꿀대상, 바꿀내용)

len(a) # 길이

str(a[2]) + "hi" #str은 정수나 실수를 문자열로 바꿔줌

del a [1] # 삭제

a.append(4) # 리스트 맨뒤에 추가하는 함수

a.sort() # 순서대로 리스트 정리

a.reverse () # 리스트 역순으로 뒤집

a.index(4) # () 이 수의 위칫값 나타냄

a.insert(0, 4) # 0번쨰 위치에 4 삽입

a.remove(3) # 첫번째로 나오는 3 삭제

a.pop() # 마지막 요소 리턴후 삭제, ()에 위칫값 넣으면 그 위치에 요소 리턴하고 삭제

a.count() # () 안에 요소 개수

a.extend([5, 6]) # 리스트 5, 6 추가해서 확장