In [1]:
#02-04 튜플 자료형 -> t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 소괄호(())를 생략해도 된다는 점
t1 = 1, 2, 'a', 'b'
t1[0]
# 튜플은 요솟값 변경불가능, del, sort 이런거 불가능

1

In [29]:
#02-05 딕서너리 자료형 key : value
a = {'1' : 'a'}
a[32] = 'b'
del a['1']
a[32]
b = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
b.keys()
for k in b.keys():
  print(k)

list(b.keys())
b.values()

b.items() # key, value 둘다 얻을 땐 item
b.clear() # 쌍 모두 지우기
c = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
c.get('name')
c.get('acv', 'foo') # get(x, '디폴트값') -> x가 없으면 디폴트 값 출력
'name' in c # 'name' 있는지 없는지 참 거짓으로 확인

name
phone
birth

True

In [41]:
#02-06 집합 자료형 # 중복 허용 x, 순서 x set 자료형은 교, 합, 차집합 구할때
s1 = set("HELLO")
s1
l1 = list(s1)
l1
a1 = set([1, 2, 3, 4, 5, 6])
b1 = set([4, 5, 6, 7, 8, 9])
a1 & b1 # 교집합
a1.intersection(b1) # 교집합
a1 | b1 # 합집합
a1.union(b1) # 합집합
a1 - b1 #차집합
a1.difference(b1) #차집합
c1 = set([1, 2, 3])
c1.add(4) # 값 1개 추가
c1
c1.update([5, 6, 7]) # 값 여러개 추가
c1
c1.remove(2) # 값 제거
c1

{1, 3, 4, 5, 6, 7}

# 정리
##### 튜플은 요솟값 변경 불가, 괄호 생략가능
##### 딕서너리 key : value
#####b.items() # key, value 둘다 얻을 땐 item
#####b.clear() # 쌍 모두 지우기
#####list.(b.key()) # 리스트로 변경
#####c.get('acv', 'foo') # get(x, '디폴트값') -> x가 없으면 디폴트 값 출력
#####'name' in c # 'name' 있는지 없는지 참 거짓으로 확인
#####a1 & b1 # 교집합
#####a1.intersection(b1) # 교집합
#####a1 | b1 # 합집합
#####a1.union(b1) # 합집합
#####a1 - b1 #차집합
#####a1.difference(b1) #차집합
#####c1 = set([1, 2, 3])
#####c1.add(4) # 값 1개 추가

#####c1.update([5, 6, 7]) # 값 여러개 추가

#####c1.remove(2) # 값 제거